.homesection{
    margin-bottom: 50px;
}

.homesection__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 260px) {
    .homesection__header{
        flex-wrap: wrap;
    }
}

.homesection__headline{
    font-weight: 600;
}