.citieslist{
    display: flex;
    margin-top: 20px;
}

@media only screen and (max-width: 320px) {
    .citieslist{
        flex-wrap: wrap;
    }
}

.citieslist__link{
    flex-basis: 150px;
    text-decoration: none;
    margin-right: 20px;
}

@media only screen and (max-width: 320px) {
    .citieslist__link{
        flex-basis: 100%;
        margin-bottom: 20px;
        margin-right: 0px;
    }
}