.card{
    background: #ccc;
    height: 250px;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr auto auto;
    padding: 15px;
}

.card:hover{
    box-shadow: 0px 0px 10px 0px #858585;
}

.card__headline{
    font-weight: 600;
    font-size: 18px;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.card__pin-icon{
    height: 15px;
    margin-right: 10px;
}