.card{
    background: #ccc;
    height: 270px;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr auto auto;
    padding: 15px;
}

.card:hover{
    box-shadow: 0px 0px 10px 0px #8b8b8b;
}

.card__headline{
    font-size: 24px;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}