.horizontalsection__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.horizontalsection__headline{
    font-weight: 600;
}

.horizontalsection__list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-columns: minmax(200px,1fr);
    grid-auto-flow: column;
    gap: 20px;
    overflow-x: auto;
    padding: 10px 10px;
    margin-top: 20px;
}